.header {
  height: 125px;
  display: flex;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: 40px;
  background-color: rgb(71, 39, 39);
  color: rgb(77, 206, 163);
}

.home {
  display: flex;
  background-color: rgb(208, 250, 236);
}

.home-name {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.image {
  padding: 50px;
  height: 300px;
  width: auto;
}

.myh4{
  display: flex;
}

.button{
  border-color: rgb(208, 250, 236);
  background-color: rgb(151, 99, 99);
  color: rgb(208, 250, 236);
  font-weight: bold;
  cursor: grab;
}